/* CSS written for mobile first */
body {
    background-color:pink;
    display:grid;
    grid-template-columns: 1fr 1fr;

}
nav ul {
    display:flex;
    justify-content: space-evenly;
}
nav a {
    background-color:rgb(153, 119, 187);
    color:white;
    padding: 1rem 1rem;
    text-transform: uppercase;
    font-size:2em;
}
nav a:hover {
    background-color: palevioletred;
    color:paleturquoise;
}
header, nav, footer {
    grid-column: 1/4;
}
@media screen and (min-width:600px){
    body {
  grid-template-columns:1fr 1fr;
  background-color:fuchsia;
}
}
@media screen and (min-width:800px){
    body {
        grid-template-columns: 1fr 1fr 1fr;
        background-color:blueviolet;
}
}
.card-row {
    display:flex;
    gap:2rem;
    background-color: aquamarine;
    padding: 0.5em;
    flex-wrap: wrap;
}
.card-row>section {
    background-color: papayawhip;
    padding:1rem;
}